body {
    font-size: 16px;
    font-family: Verdana;
}
section img {
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 10px 6px -6px black;
    transform: translateX(410px) translateY(-50%);
}
.main {
    width: 50%;
    margin:  5rem auto;
    padding-bottom: 2rem;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(110,110,110, 1) 0px 0px 10px;
}
.main div {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.main div input[type="text"] {
    display: block;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    width: 98%;
    
}

@media(max-width:690px){
    .main {
        width: 100%;
    }
    .main div {
        width: 75%;
    }
    .main img {
        transform: translateX(260px) translateY(-50%);
    }
}

@media (max-width:490px) {
    .main img {
        transform: translateX(160px) translateY(-50%);
    }
}

@media(max-width:390px) {
    .main img {
        transform: translateX(120px) translateY(-50%);
    }
@media(max-width:320px) {
    .main img {
        transform: translateX(100px) translateY(-50%);
    }

}
