body {
    font-size: 16px;
    font-family: Verdana;
}
section img {
    position: absolute;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 10px 6px -6px black;
    transform: translateY(-50%);
    display: block;
}
.main {
    position: relative;
    display: flex;
    width: 50%;
    height: 1000px;
    margin:  5rem auto;
    padding-bottom: 2rem;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(110,110,110, 1) 0px 0px 10px;
    justify-content: center;
}
.main div {
    position: relative;
    width: 90%;
    margin: 0 auto;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    
}
.main div .first {
    width: 40%;
    height: fit-content;
    margin: 0 2rem;
}

.main div .second {
    width: 40%;
    height: fit-content;
    margin: 0;
}

.main div .third {
    width: 40%;
    height: fit-content;
    margin: 0 2rem;
}

.main div .fourth {
    padding: 0;
    width: 40%;
    height: fit-content;
}
.main .fourth div {
    margin: 0;
    width: 25%;
}

input[type="text"] {
    font-size: 1.75rem;
}

@media (max-width:720px) {
    .main img {
        height: 100px;
    }
    .main div {
        width: 85%;
        flex-direction: column;
        align-items: center;
    }
    .main {
        width: 95%;
    }
    .main div * {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    .main span {
        width: 50%;
        align-self: flex-start;
    }
    .main .fourth div {
        width: 100%;
    }

}