html,body {
    font-size: 16px;
    font-family: Verdana;
}
section #img-1 {
    position: absolute;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 10px 6px -6px black;
    transform: translateY(-50%);
    display: block;
}
.main {
    position: relative;
    display: flex;
    width: 50%;
    height: 10000px;
    margin:  5rem auto;
    padding-bottom: 2rem;
    border-radius: 10px;
    box-shadow: rgba(110,110,110, 1) 0px 0px 10px;
    justify-content: center;
    min-width: 50%;
}

.main .inputs {
    position: relative;
    width: 100%;
    top: 100px;
    margin: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    max-height: fit-content;
}

.main .inputs .red {
    height: 1.50rem;
    max-height: 1.75rem;
    margin: 0;
    background-color: red;
    color: white;
    padding: .25rem;
    width: fit-content;
    max-width: fit-content;
    font-size: 1.25rem;
}
.main .inputs .black {
    height: 1.50rem;
    max-height: 1.75rem;
    margin: 0;
    color: black;
    padding: .25rem;
    width: fit-content;
    max-width: 100%;
    font-size: 1.15rem;
}
.main .inputs input[type="text"] {
    margin-top: .25rem;
    height: 1.50rem;
    max-height: 1.75rem;
    width: 80%;
    font-size: 1.50rem;
}
.main .inputs .first, .second, .third, .fourth, 
.fifth, .sixth, .eighth, .nineth{
    width: 50%;
    max-width: 50%;
    height: fit-content;
    max-height: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: .50rem;
}
.main .inputs .nineth select, .eighth select {
    width: 80%;
    max-width: 80%;
    margin-top: .25rem;
    font-size: 1.25rem;
    height: fit-content;
}
.main .inputs .seventh {
    width:100%;
    max-width: 100%;
    height: fit-content;
    max-height: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: .50rem;
}
.main .inputs .fourth , .fifth{
    display: flex;
    flex-wrap: wrap;
}
.main .inputs .fourth div {
    width: 50%;
}
.main .inputs .fourth select {
    width: fit-content;
    margin-top: .25rem;
    max-width: fit-content;
    font-size: 1.50rem;
    height: 1.75rem;
}
.main .inputs .fifth div select {
    width: fit-content;
    margin-top: .25rem;
    max-width: fit-content;
    font-size: 1.25rem;
    height: fit-content;
}
.main .inputs .fifth div:not(:last-child){
    width: fit-content;
    margin-right: 3rem;
}
.main .inputs .seventh input[type="text"] {
    width: 90%;
    max-width: 90%;
}
select {
    background-color: transparent;
}
.animated-h1 {
    font-size: 1.25rem;
    padding: .125rem 0;
    width: 25%;
    margin: 1rem 0;
    background-color: red; 
    color: white; 
    text-align: center;
    animation: changingcolor 1s ease-in-out infinite alternate-reverse;
}
.questions {
    width: 100%;
}
.questions div h1 {
    font-weight: 500;
    padding: 1rem 1.5rem;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(110,110,110,.3);
    font-size: .75rem;
    margin-right: 1rem;
    transition: all 1s cubic-bezier(0.22, 0.17, 0.19, 1.16);
}
.questions div h1:hover {
    background-color: rgb(19, 134, 241);
    color: white;
    box-shadow: 0px 0px 3px 3px rgb(12, 94, 246);
}
.questions .first-question,.second-question, .third-question, .fourth-question{
    padding-bottom: .50rem;
    border-bottom: 1px solid rgba(110,110,110, .3);
}
.questions p {
    font-weight: bold;
}
@keyframes changingcolor {
    0% {
        background-color: red;
      }
      100% {
        background-color: rgb(24, 23, 23);
      }
}
@media (max-width:720px) {
    .main img {
        height: 100px;
    }
    .main .inputs {
        width: 85%;
        flex-direction: column;
        align-items: center;
    }
    .main {
        width: 95%;
    }
    
    .main .inputs .first, .second , .third, .fourth,
    .fifth, .sixth{
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        align-items: flex-start;
    }
    .main .inputs .seventh, .eighth, .nineth{
        width: 100%;
        max-width: 100%;
    }
    .main .inputs .eighth select{
        width: 100%;
        max-width: 100%;
    }
    .main .inputs .nineth select{
        width: 100%;
        max-width: 100%;
    }
    .main .inputs div input[type="text"] {
        width: 100%;
    }
    .main .inputs .fourth div {
        flex-direction: column;
        width: 100%;
        margin-top: .25rem;
    }
    .main .inputs .fourth div select {
        width: 100%;
        max-width: 100%;
    }
    .main .inputs .fifth div:nth-child(even) {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        margin-top: .25rem;
    }
    .main .inputs .fifth div:nth-child(odd) {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        margin-top: .25rem;
    }
    .main .inputs .fifth div select {
        width: 100%;
        max-width: 100%;
    }
    .main .inputs .seventh input[type="text"] {
        width: 100%;
        max-width: 100%;
    }
    

}
